version: "3.9"

services:

  app1:
    build: ./backend
    container_name: app1
    ports:
      - "5001:5000"

  app2:
    build: ./backend
    container_name: app2
    ports:
      - "5002:5000"

  nginx:
    image: nginx
    container_name: loadbalancer
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
